[flake8]
ignore =
  E111, # indentation not a multiple of 4 (we use 2))
  E114, # comment indentation not a multiple of 4
  E501, # line too long
  E121, # continuation line under-indented for hanging indent
  E241  # space after comma (ignored for list in gen-s-parser.py)
exclude = ./test/emscripten,./test/spec,./test/wasm-install
