[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "test/spec/testsuite"]
	path = test/spec/testsuite
	url = https://github.com/WebAssembly/testsuite.git
