sudo: false
dist: bionic
language: cpp
python:
  - 3.6

stages:
  - name: test
  - name: archive
    # Don't run archive stage for pull requests and other branches than master
    # to save time and resources.
    if: type != pull_request AND (branch = master OR tag IS present)

DEPLOY_TO_GITHUB: &DEPLOY_TO_GITHUB
  before_deploy:
    - PKGNAME="binaryen-$TRAVIS_TAG-$ARCH"
    - mv bin binaryen-$TRAVIS_TAG
    - tar -czf $PKGNAME.tar.gz binaryen-$TRAVIS_TAG
    - shasum -a 256 $PKGNAME.tar.gz > $PKGNAME.tar.gz.sha256
  deploy:
    provider: releases
    api_key:
      secure: "cu6CD5BaycXdCylvcs+Fho5+OVTkh9mZwH8RTnNpXo9hAQzLJDFgcNBHeXHEHtcp4IWf/YZSMu48UKnpU9sP5iF0AS4rtuEBJk5gOKkgB8GWnuIOePFkfANAZMN+EncuUwhAdN56iOAESXqnlHYgmJjyRVCHOxiezuWTOYui4lxoIAdxvOMJc3E9yfzUq4Epm2GDszSDN7ObmRIJpVgDXD9Sze1Xv4IkbIwc0biCmduGGLp3ow2KM+RZ4tOF0c8P0ki49vOFHr6n2Vmqg0QCiVNd4JJBRBCGn6Tzip2jsTQewnUUvpYCZafLeRV//v//voNA6ZUz91yXR23GIhkfdlyuqnz3/7l335Sa749M1lpYfSRWvwg9mJEqP66mxqTrWzj1xSItr9T+p0WhSmRN/4UEJPuItYPSma6kfv+H7qhLa3ZYKECH8hHW79grYmUWtiX0vQVIgnctJGgboPNLfG/1mNtmCI241wK0S3zvL2okdZH8/PqxfllYHMBTUp9lUrop8eoLKPgHZPm6+V20dgTUgOuGTZzTWwQ7Uk/Pg8JMUgkre5y0eo6pP3z0vDW1NNFNhouJ5oGkAeK/HAznr8Q0zWWF1vGFhoyC8ok/IJ7yKxK9scJVPBDe4oox6tr1zlsxzNEYE0/mY3JjuWV0z8RgjrIAbRe8IpGTkYz5VOM="
    file: binaryen-$TRAVIS_TAG-*.tar.gz*
    file_glob: true
    skip_cleanup: true
    on:
      tags: true

jobs:
  include:
    - name: lint-checks
      stage: test
      addons:
        apt:
          packages: ['cmake', 'python3-pip']
      install: pip3 install --user flake8==3.7.8
      script:
        - flake8
        - ./clang-format-diff.sh
        # ensure generated parser is up to date
        - ./scripts/gen-s-parser.py | diff src/gen-s-parser.inc -
        # clang-tidy requires compile_commands.json generated by cmake
        - cmake ${TRAVIS_BUILD_DIR} -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        - ./clang-tidy-diff.sh

    # Build with clang and run tests on the host system (Ubuntu).
    - &test-ubuntu
      name: clang
      stage: test
      compiler: clang
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['cmake', 'g++-5', 'ninja-build']
      before_install:
        - export ASAN_OPTIONS="$ASAN_OPTIONS symbolize=1"
      install:
        - nvm install 12
        - nvm use 12
        # get jsvu in order to get more js engines
        - npm install jsvu -g
        - export PATH="${HOME}/.jsvu:${PATH}"
        - jsvu --os=linux64 --engines=spidermonkey,v8
      script:
        - set -o errexit
        - BUILD_DIR=${BUILD_DIR:-.}
        - mkdir -p ${BUILD_DIR} && cd ${BUILD_DIR}
        - cmake ${TRAVIS_BUILD_DIR} -G Ninja
            -DCMAKE_C_FLAGS="$COMPILER_FLAGS"
            -DCMAKE_CXX_FLAGS="$COMPILER_FLAGS"
            -DCMAKE_EXE_LINKER_FLAGS="$LINKER_FLAGS"
            -DCMAKE_INSTALL_PREFIX=install
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        - ninja install
        # Run tests from source directory
        - cd ${TRAVIS_BUILD_DIR}
        - python3 ./check.py --binaryen-bin=${BUILD_DIR}/install/bin

    - <<: *test-ubuntu
      name: ubsan
      env: |
        COMPILER_FLAGS="-fsanitize=undefined -fno-sanitize-recover=all -fsanitize-blacklist=$(pwd)/ubsan.blacklist"

    # FIXME we currently must disable LSAN entirely, see #1351
    - <<: *test-ubuntu
      name: asan
      env: |
        COMPILER_FLAGS="-fsanitize=address"
        ASAN_OPTIONS="detect_leaks=0"

    - <<: *test-ubuntu
      name: tsan
      env: |
        COMPILER_FLAGS="-fsanitize=thread"
        LINKER_FLAGS="-fsanitize=thread"

    # Build with gcc 7 and run tests on the host system (Ubuntu).
    # Also tests that out-of-tree builds work
    - <<: *test-ubuntu
      name: gcc-7 / out-of-tree
      compiler: gcc
      env: |
        CC="gcc-7"
        CXX="g++-7"
        BUILD_DIR=out

    # Build the .js outputs using emcc
    - name: emscripten
      stage: test
      compiler: clang
      python: 2.7
      language: node_js
      install:
        - mkdir $HOME/cmake &&
          wget -qO- https://github.com/Kitware/CMake/releases/download/v3.17.0/cmake-3.17.0-Linux-x86_64.tar.gz | tar -xzC $HOME/cmake --strip-components 1 &&
          export PATH=$HOME/cmake:$PATH
        - mkdir $HOME/emsdk &&
          git clone --depth 1 https://github.com/emscripten-core/emsdk.git $HOME/emsdk &&
          $HOME/emsdk/emsdk update-tags &&
          $HOME/emsdk/emsdk install tot &&
          $HOME/emsdk/emsdk activate tot &&
          export PATH=$HOME/emsdk:$PATH
      script:
        # run binaryen.js tests before and after building, so we see if the bundled
        # version is good too.
        - source $HOME/emsdk/emsdk_env.sh &&
          ./travis-emcc-tests.sh

    # Build with gcc 6.3 and run tests on Alpine Linux (inside chroot).
    # Note: Alpine uses musl libc.
    - &test-alpine
      name: alpine
      stage: test
      sudo: true
      language: minimal
      compiler: gcc
      env: ARCH=x86_64
      before_install:
        - docker run -w /src -dit --name alpine -v $(pwd):/src node:lts-alpine
        - alpine() { docker exec -it alpine "$@"; }
      install:
        - alpine apk update
        - alpine apk add build-base cmake git python3 clang ninja
      script:
        - alpine cmake . -G Ninja
        - alpine ninja
        - alpine python3 ./check.py

    - name: osx
      env: JOB=dist-osx ARCH=x86_64-apple-darwin
      os: osx
      stage: archive
      script:
        - cmake . && make
      <<: *DEPLOY_TO_GITHUB

    # Build statically linked release binaries with gcc 6.3 on Alpine Linux
    # (inside chroot). If building a tagged commit, then deploy release tarball
    # to GitHub Releases.
    - &archive-alpine
      <<: *test-alpine
      name: x86_64-linux
      stage: archive
      env: ARCH=x86_64-linux
      script:
        - alpine cmake . -G Ninja
                       -DCMAKE_BUILD_TYPE=Release
                       -DCMAKE_VERBOSE_MAKEFILE=ON
                       -DCMAKE_CXX_FLAGS="-static"
                       -DCMAKE_C_FLAGS="-static"
                       -DCMAKE_C_COMPILER=clang
                       -DCMAKE_CXX_COMPILER=clang++
        - alpine ninja
        - alpine find bin/ -type f -perm -u=x -exec strip {} +
        - alpine ls -lh bin/
        # Check if the built executables are really statically linked.
        - if [ -n "$(find bin/ -type f -perm -u=x -exec file {} + | grep -Fvw 'statically linked')" ]; then
              file bin/*; false;
          fi
      <<: *DEPLOY_TO_GITHUB

    # Build binaries for other architectures using QEMU user-mode emulation.
    # Note: We don't run tests for these architectures, because some fail under
    #       QEMU/binfmt and it takes too long time (hits time limit on Travis).
    # Note: We had to remove ppc64le, because it takes more than 50 minutes
    #       (Travis limit) to build. :(
    - <<: *archive-alpine
      name: x86-linux
      env: ARCH=x86-linux

    - <<: *archive-alpine
      name: aarch64-linux
      env: ARCH=aarch64-linux

    - <<: *archive-alpine
      name: armhf-linux
      env: ARCH=armhf-linux

notifications:
  email: false
