sudo: false
language: cpp
python:
  - "2.7"
node_js:
  - "stable"

matrix:
  include:

    - env: COMPILER_VERSION=3.6
      compiler: clang
      addons: &clang36
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.6']
          packages: ['cmake', 'clang-3.6']

    - env: COMPILER_VERSION=3.6 COMPILER_FLAGS="-fsanitize=undefined -fsanitize-blacklist=`pwd`/ubsan.blacklist"
      compiler: clang
      addons: *clang36

    - env: COMPILER_VERSION=3.6 COMPILER_FLAGS="-fsanitize=address"
      compiler: clang
      addons: *clang36

    - env: COMPILER_VERSION=3.6 COMPILER_FLAGS="-fsanitize=thread"
      compiler: clang
      addons: *clang36

    - env: COMPILER_VERSION=5
      compiler: gcc
      addons: &gcc5
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['cmake', 'g++-5']

  allow_failures:
    - env: COMPILER_VERSION=3.6 COMPILER_FLAGS="-fsanitize=address"
      compiler: clang
      addons: *clang36

before_install:
  - export CC="${CC}-${COMPILER_VERSION}"
  - export CXX="${CXX}-${COMPILER_VERSION}"

install:
  - pip install --user flake8

before_script:
  # Check the style of a subset of Python code until the other code is updated.
  - flake8 update.py ./scripts/*

script:
  - cmake . -DCMAKE_C_FLAGS="$COMPILER_FLAGS" -DCMAKE_CXX_FLAGS="$COMPILER_FLAGS"
  - make -j2
  - ./check.py

notifications:
  email: false
